.App{
  background-color: #f63838;
  background-position: 100%;
  background-repeat:repeat;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.nav-links > a {
  font-size: 3vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links > a, #logo > a {
  color: #ffffff;
  text-decoration: none;
  width: 25vw;
  height: 10vh;
  user-select: none;
}

.nav-links > a:hover, #logo > a:hover {
  color: #ff0000;
}

nav {
  background-color: #060606;
  color: #ffffff;
  height: 10vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.nav-links {
  width: 75vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
}

.active {
  background-color:#ff0101;
  box-shadow: 0 8px 8px -4px rgb(113, 113, 113);
}
.pics {
 
    background-color: #d6d6d6;
    border: 2px #000000 solid;
    border-radius: 15px 40px;
    box-shadow: 10px 10px 5px #969696;
    width: 60vw;
    max-width: 600px;
    height: 50vh;
    min-height: 125px;
    margin: 10px;
    font-size: 25px;
    align-content: center;
  
}
.home{
  width: 66%;
  max-height: 100%;
  margin: 2% 15% 2% 15%;
  border: 3px solid #003049;
  border-radius: 8px;
  box-shadow: 6px 0 15px #2a2a2a;
  background-color: transparent;
  object-fit:contain;
  background-color: rgb(252, 251, 252);
  align-content: center;
}
.home_page {
 
 
}
.home_header {
}
.projects{
  background-position: center;
  background-size:contain;
  height: 2000px;
  align-items: center;
  margin: 5% 15% 5% 15%;
}
.project_list{
  width: 66%;
  max-height: 1000px;
  margin: 2% 15% 2% 15%;
  border: 3px solid #003049;
  border-radius: 8px;
  box-shadow: 6px 0 15px #2a2a2a;
  background-color: transparent;
  object-fit:contain;
  background-color: rgb(252, 251, 252);
  align-content: center;
}
.contact{
  width: 66%;
  max-height: 1000px;
  margin: 2% 15% 2% 15%;
  border: 3px solid #003049;
  border-radius: 8px;
  box-shadow: 6px 0 15px #2a2a2a;
  background-color: transparent;
  object-fit:contain;
  background-color: rgb(252, 251, 252);
  align-content: center;
}
